<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc8d9f">  <td>19/12/30 16:36:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Customersearch.gettoken()[pri:1, instance:CustomerSearch.Rupeek.Customersearch@740773a3]">gettoken</td> 
  <td>main@702846463</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>19/12/30 16:36:51</td>   <td>3315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Customersearch.customerrecord()[pri:2, instance:CustomerSearch.Rupeek.Customersearch@740773a3]">customerrecord</td> 
  <td>main@702846463</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>19/12/30 16:36:51</td>   <td>3498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Customersearch.customerrecordbymobile()[pri:3, instance:CustomerSearch.Rupeek.Customersearch@740773a3]">customerrecordbymobile</td> 
  <td>main@702846463</td>   <td></td> </tr>
</table>
